<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\static\css\style.css"/>
</head>
<body>
<div class="wrapAllPage">
    <div class = "fullWidthBG">
      <div class="container">
        <!-- header -->
        <div class="row" id="pageHeader">
          <div class="col-md-6">
            <h1>GoooodRead</h1>
            <p>Hello User</p>
          </div>

          <div class="col-md-6 text-right">
            <a href="#">Login</a> |
            <a href="#">Edit profile</a>
          </div>
        </div>
        <!-- /header -->
        <!-- start form section -->
        <div class="row d-flex flex-wrap align-content-sm-center" id="searchWrap">
          <div class="col-md-6 text-center">
            <form name="searForm" action="search" accept-charset="UTF-8" method="get">
                <input type="text" name="shelf" id="shelf" placeholder="Find a book" class="col-sm-8">
                <input type="submit" value="Find" class="col-sm-2">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end form section -->
    <!-- books section -->
    <div class="container">
      <div class="row d-flex flex-wrap" id="bookSection">
          <div class="bookCat w-100">
            <h2 class="brownBackground">Best Books of the Wakanda</h2>
          </div>
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->


      </div>
      <!-- /books section -->
      <!-- pagination -->
      <div class="flex-row">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
      <!-- /pagination -->
    </div>
</div>
</body>
</html>
