<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\static\css\style.css"/>
</head>
<body>
<div class="wrapAllPage">
    <div class = "fullWidthBG">
      <div class="dimmer"></div>
      <!-- header -->
      <div id="pageHeader">
        <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 id="logo">GoooodRead</h1>
          </div>

          <div class="col-md-6 text-right">
            <p class="white">Hello User</p>
            <a href="#" class="small">Login</a><span class="white small"> |</span>
            <a href="#" class="small">Edit profile</a>
          </div>
        </div>
      </div>
      </div>
      <!-- /header -->
      <div class="container" id="pageSearch">
        <!-- start form section -->
        <div class="row" id="searchWrap">
          <div>
            <blockquote class="blockquote text-center">
              <p class="mb-0 white">What are you reading?</p>
            </blockquote>
            <form>
              <div class="form-row">
                <div class="form-group col-md-10">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Find your books">
                </div>
                <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end form section -->
    <!-- books section -->
    <div class="container">
      <div class="row d-flex flex-wrap" id="bookSection">
          <div class="bookCat col-12">
            <h2 class="display-4">Best Books of the Wakanda</h2>
          </div>
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->
          <!-- abook -->
          <div class="aBook col-sm-2">
              <div class="bookCover" id="bookCover77528_34993791">
                  <a href="/book/show/34993791-match-me-if-you-can">
                    <img alt="Match Me If You Can"
                         title="" width="100%"
                         class="bookImage"
                         src="https://images.gr-assets.com/books/1524033787l/34993791.jpg">
                   </a>
                   <h6 class="bookTitle">Bloom</h6>
                   <ul class="description list-unstyled small">
                     <li class="author">by Kevin Panetta</li>
                     <li class="avgRating">4.21</li>
                     <li class="totalRating">1222</li>
                     <li class="yearRelease">2019</li>
                     <li class="summary">Now that high school is over,
                       Ari is dying to move to the big
                       city with his ultra-hip band
                       <a href="#">...more</a>
                     </li>
                   </ul>
              </div>
          </div>
          <!-- /abook -->


      </div>
      <!-- /books section -->
      <!-- pagination -->
      <div class="flex-row">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
      <!-- /pagination -->

      <footer class="bd-footer text-muted">
      <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
          <li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>
          <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
          <li><a href="/docs/4.3/about/overview/">About</a></li>
        </ul>
        <p>Designed and built with <a href="/docs/4.3/about/team/">Bootstrap</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">Havard Web CS-50</a>.</p>
        <p>Licensed: Free</p>
      </div>
    </footer>
    </div>
</div>
</body>
</html>
